.project-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.subtitle {
    margin: 20px 0 5px 0;
    text-align: center;
    width: 100%;
}

.thumbnail {
    border-radius: 10px;
    margin-top: 10px;
    height: initial;
    width: 280px;
}

@media (min-width: 374px) {
    .thumbnail {
        width: 300px;
    }
}

@media (min-width: 765px) {
    .project-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 23px;
        width: 768px;
    }

    .subtitle {
        font-size: 37px;
        font-weight: 400;
    }

    .thumbnail {
        width: 350px;
    }
}

@media (min-width: 1000px) {
    .project-container {
        margin: 0;
    }

    .subtitle:nth-of-type(1) {
        margin-bottom: 14px;
    }
}