.project-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.subtitle {
    margin: 20px 0 5px 0;
    text-align: center;
    width: 100%;
}

.thumbnail {
    border-radius: 10px;
    margin-top: 20px;
    height: initial;
    width: 280px;
}

@media (min-width: 374px) {
    .thumbnail {
        width: 300px;
    }
}