.skills {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.svg {
  margin-top: 15px
}

.skills-copy {
  font-size: 18px;
  margin: 0;
  width: 280px;
}

.sheet-link,
.sheet-link:visited {
  color: blue;
  text-decoration: none;
}

@media (min-width: 400px) {
  .skills-copy {
      width: 350px;
  }
}

@media (min-width: 765px) {
  .skills {
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 685px;
  }

  .skills-copy {
    align-self: flex-start;
    margin-top: 26px;
    margin-right: 30px;
    width: 292px;
  }

  .svg {
    margin-top: 30px;
  }
}