.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-copy {
    width: 275px;
}

.icons {
  align-self: center;
  margin-bottom: 30px;
}

.fa {
    color: #007bff; 
  }
  
  .fa-twitter-square,
  .fa-github-square {
    margin-right: .25em; 
  }
  
  .social:hover {
    transform: scale(1.1); 
  }

  @media (min-width: 374px) {
    .contact-copy {
      font-size: 18px;
      margin: 10px 0 20px;
      width: 290px;
    }
  }
  
  @media (min-width: 400px) {
    .contact-copy {
      width: 300px;
    }
  }

  @media (min-width: 765px) {
    .contact-container {
      margin: 0;
    }
  }