.header {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main-img {
    max-width: 415px;
    width: 100%;
}

.header-text {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.title {
    font-size: 42px;
    font-weight: 400;
    margin: 20px 0 15px 0;
    text-align: center;
}

.intro-copy {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.intro-copy:nth-of-type(2) {
    margin-top: 15px;
}

@media (min-width: 400px) {
    .header-text {
        width: 350px;
    }
}

@media (min-width: 765px) {
    .header {
        flex-direction: row;
        margin-top: 40px;
        justify-content: space-between;
        width: 685px;
    }

    .main-img {
        border-radius: 10px;
        position: relative;
        top: 14px;
        width: 335px;
    }

    .header-text {
        margin-right: 17px;
        width: 292px;
    }

    .intro-copy {
        position: relative;
        left: 19px;
    }
}