.navbar {
    margin-top: 17px;
    width: 275px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-button {
    background-color: #FFC18B;
    border: 0;
    border-radius: 5px;
    font-size: 1.25rem;
    margin: 5px 0;
    padding: 10px 0;
    width: 100%;
}

@media (min-width: 400px) {
    .navbar {
        width: 315px;
    }
}

@media (min-width: 765px) {
    .navbar {
        display: none;
    }
}