.App {
    align-items: center;
    background-color: #F4F8FD;
    display: flex;
    flex-direction: column;
}

.line {
    align-self: center;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin: 1.5rem 0 0;
    width: 80%; 
}

@media (min-width: 359px) {
    .line {
        width: 68%;
    }
}

@media (min-width: 764px) {
    .line {
        margin-top: 2.75rem;
        max-width: 600px;
        width: 77%;
    }
}